* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0deg, rgb(180, 154, 207), rgb(119, 182, 82));
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #201f28;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-container input,
.search-container button {
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}

.search-container input {
    background-color: transparent;
    border: 1px solid #a0a0a0;
    padding: 0.7em;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.search-container input:focus {
    border-color: #ffffff;
}

.search-container button {
    background-color: #ffb92a;
    border: none;
    cursor: pointer;
    width: 100%;
}

#result {
    color: #ffffff;
}

.info {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    margin-top: 1.2em;
}

.poster {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    margin: 0.6em 0 0.9em 0;
}

.rating img {
    width: 1.2em;
}

.rating h4 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}

.details {
    display: flex;
    font-size: 0.95em;
    gap: 1em;
    justify-content: center;
    color: #a0a0a0;
    margin: 0.6em 0;
    font-weight: 300;
}

.genre {
    display: flex;
    justify-content: space-around;
}

.genre div {
    border: 1px solid #a0a0a0;
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    font-weight: 300;
}

h3 {
    font-weight: 500;
    margin-top: 1.2em;
}

p {
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: justify;
    color: #a0a0a0;
}

.msg {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
        font-size: 14px;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .poster {
        margin: auto;
        width: auto;
        max-height: 10.8em;
    }
}

.search__form {
    display: flex;
    width: 100%;
    gap: 10px;
}

.film__star {
    width: 40px;
    height: 40px;
}

.loading-skeleton {
    display: block;
    background-color: rgba(0, 0, 0, 0.17);
    width: 100%;
    height: 485px;
    position: relative;
    overflow: hidden;
}

.loading-skeleton::before {
    width: 100%;
    content: "";
    animation: loading-skeleton 1.3s infinite;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
}

@keyframes loading-skeleton {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.pagination-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pagination__item {
    list-style: none;
}

.pagination__style {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.slider-pagination {
    margin-top: 30px;
}

.info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__information {
    min-width: 150px;
    padding: 5px 0 5px 0;
    cursor: pointer;
    background: linear-gradient(180deg, #f5ed00 90%, #e6de00 90%), #fff700;
    border-radius: 5px;
}

.modal__information:hover {
    background: darken(#FC6E51, 7%);
}

/* modal */
.modal-overlay {
    align-items: center;
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.modal-container {
    background-color: #fff;
    max-height: 80vh;
    max-width: 500px;
    overflow-y: auto;
    padding: 30px;
    width: 80%;
}

.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.modal-close {
    background: transparent;
    border: 0;
}

.modal-content {
    line-height: 1.5;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal-overlay {
    animation: mmfadeIn .3s cubic-bezier(.0, .0, .2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal-container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-overlay {
    animation: mmfadeOut .3s cubic-bezier(.0, .0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
    will-change: transform;
}